<footer>
    <ul>
        <li><a href="">©LapyTrade</a></li>                          
         <li><a href="">Follow us on</a></li>
         <li id="twitter"><a href="https://www.twitter.com"><img src="/images/tw.png" alt="Twitter" height="20" width="20"></a></li>
         <li id="facebook" ><a href="https://www.facebook.com"><img src="/images/fb.png" alt="Facebook" height="20" width="20"></a></li> 
         <li id="Instagram" ><a href="https://www.instagram.com"><img src="/images/ins.png" alt="Instagram" height="20" width="20"></a></li> 
    </ul>
</footer>
</body>
</html>
