<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Lapy Trade</title>
        <link rel="stylesheet" type="text/css" href="/css/IndexStyling.css">
    </head>


    <body>
        <header class="banner">
           <li> <a href="/"><img src="/images/logo.jpg" alt="laptop" height="70" width="90"></a> </li>
           <li><b><h1>LAPY TRADE</h1></b></li>
            <div id="login">
            <ul>
               
                <li><a href="/">Login</a></li> 
                <li><a href="/">Signup</a></li> 
             </ul>
            </div>
        </header>


        <nav>
            <ul>
               <li><a href="/">Home</a></li> 
               <li><a href="/trades">Trades</a></li> 
               <li><a href="/trades/new">CreateTrade</a></li> 
               <li><a href="/About">About</a></li>
               <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>