<%- include('./partials/header.ejs')%>

        <main>
            <section>
                 <h2>About Us</h2>
                 <article>
                    <p> LapyTrade.com was founded on the basis of giving an alternative option to those looking
                        <br>to either upgrade their Lapy, find a way to help get some new lapy, or for those who has 
                        <br> a surplus of electronics that they want to explore different kinds of laptops.Armed with 
                        <br>a passion for technology and knowledge of growth within the industry, LapyTrade.com 
                        <br>developed their own way to help avoid landfills filled with Laptops.</p>
                 </article>
                 <br><br><br><br>
                 <h1>“Armed with a passion for technology
                    and knowledge for growth,…”</h1>
            </section>
         </main>
 
<%- include('./partials/footer.ejs')%>