
<%- include('./partials/header.ejs')%>

        <main>
            <section>
                 <h2>Contact Us</h2>
                 <article>
                  <br><h4> <p> Mailus: CustomerService@gmail.com<br>If you still need more help, see the contact information for technical support, Postal Store orders, and more.</p></h4>
                 </article>
                 
            </section>
         </main> 
  
 <%- include('./partials/footer.ejs')%>    
