
<%- include('./partials/header.ejs')%>

        <main>
            <section>
               <h2>Hello !!</h2>
               <br>
                <article>
                    Looking for an amazing Lapy Trade trading<br>
                    This platform is a great way to trade the laptops according to the individual preferences
                
                </article>
            </section>
            <section>
                <article>
                    <p> LapyTrade.com was founded on the basis of giving an alternative option to those looking
                        <br>to either upgrade their Lapy, find a way to help get some new lapy, or for those who has 
                        <br> a surplus of electronics that they want to explore different kinds of laptops.Armed with 
                        <br>a passion for technology and knowledge of growth within the industry, LapyTrade.com 
                        <br>developed their own way to help avoid landfills filled with Laptops.</p>
                 </article>
            </section>


     
        </main>
 <%- include('./partials/footer.ejs')%>         